form {
  margin: 2rem auto;
  border: 1px solid pink;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 10px;
  min-width: 500px;
  font-weight: 600;
  background: #ffffff;
  max-width: 600px;

  input,
  select {
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 3px solid grey;
  }

  select {
    border: 3px solid blue;

  }

  .buttons-section {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;

    .save {
      flex-grow: 1.5;
      background: #6c63ff;
    }

    .save,
    .clear {
      padding: 1rem;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }
}

form.dark{
    background: #16213e;
    color: white;
}
