.main-container {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0 1rem;

  .no-todos {
    text-align: center;
  }
}

.main-container.light {
  background: #f5f5f5;
}

.main-container.dark {
  background: #1a1a2e;

  .todo {
    color: white;

    .priority {
      color: blue;
    }
  }
}
